<div class="container">
  <div class="row">
    <div class="col-6">
      <%if @user.avatar.attached? %>
        <%= cl_image_tag(@user.avatar.key, class: "avatar")%>
      <% else %>
        <%= image_tag "gamepad.png", class: "avatar" %>
      <% end %>
      <h1><%= @user.name %>'s profile</h1>
      <h1>Reviews</h1>
      <% @user.reviews.each do |review| %>
        <!-- this line needs to be put in the controller -->
        <% @game = Game.find(review.game.id) %>
        <div class="rounded-box-reviews col-lg-12 col-md-4">
          <ul class="list-group list-group-flush col-6">
            <p class ="review-user">
              <%= review.game.title %>
              <%= link_to "Visit", game_path(@game), class: 'btn btn-secondary btn-sm w-4px'  %>
              <% review.rating.times do %>
                <%= image_tag('icons/star-full.svg', class: "review-star") %>
              <% end %>
              <% (5 - review.rating).times do %>
                <%= image_tag('icons/star-empty.svg', class: "review-star") %>
              <% end %>
            </p>
            <p class ="review-time"> <small><%= time_ago_in_words(review.created_at) %> ago</small></p>
            <p class="review-content">"<%= review.content %>"</p>
          </ul>
          <%= image_tag @game.image_url, class: "review-image" %>
        </div>
      <% end %>
    </div>
    <div class="col-6">
      <div class="container">
        <div class="row">
          <% if @user != current_user  %>
            <div class="user-list col-sm-6">
              <h1>follow this user</h1>
              <div class="d-flex">
                <h3 class="follow-user"><%= @user.name  %>
                  <%= link_to toggle_favorite_user_path(@user), remote: true, method: :post do %>
                    <%= render 'users/like_button', user: @user %>
                  <% end %>
                </h3>
              </div>
            <% else %>
              <p></p>
            <% end %>
          </div>
          <% if @user == current_user %>
            <div class="col-6">
              <h1>Following users</h1>
              <div class="favorites">
                <% @favorite_users.each do |user| %>
                  <%= render 'user', user: user %>
                <% end %>
              </div>
            <% else %>
              <p></p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="graph col-6">
        <h1>My shelf data</h1>
        <!-- adding data attribute -->
        <canvas id="myChart" width="220" height="220"
        data-page-views="<%=@graph_array %>">
        </canvas>
      </div>
    </div>
  </div>
</div>
<% unless @user.shelf_games.empty? %>
  <div class="container">
    <%= render 'users/shelf' %>
  </div>
<% end %>
