<div class="container">

  <div class="game-row-first">
    <div class="col-lg-8 col-sm-12">
      <%= image_tag @game.image_url, class: "show-game-image" %>
    </div>

    <div class="col-lg-4 col-sm-12">
      <div class="card ratings-card p-2">
      <h2 class="game-title"><%= @game.title %></h2>
        <div class="star-container">
          <% @rating.times do %>
            <%= image_tag('icons/star-full.svg', class: "star rating") %>
          <% end %>
          <% if @rating == 0 %>
            <p class="rating-notification">
              Be the First to Rate!
            </p>
            <% (5 - @rating).times do %>
              <%= image_tag('icons/star-empty.svg', class:"star no-rating") %>
            <% end %>
          <% else %>
            <% (5 - @rating).times do %>
              <%= image_tag('icons/star-empty.svg', class: "star rating-remainder") %>
            <% end %>
          <% end %>
        </div>

        <% if user_signed_in? %>
          <!--adding games to users' shelves-->
          <div data-controller="show-button">
            <p class="add-shelf-label">Add to My Game Shelf</p>
            <div class ="shelf-buttons-container">
              <%= simple_form_for([@game, @shelf_game], remote: true, data: {show_button_target: "want", action: "submit->show-button#change"}) do |f| %>
                <%= f.input :category, input_html:{value:"want to play"}, as: :hidden %>
                <%= f.button :submit, "Want to play", class: "btn #{(@shelf_game.category == 'want to play') ? 'btn-outline-primary' : 'btn-primary'}" %>
              <% end %>
              <%= simple_form_for([@game, @shelf_game], remote: true, data: {show_button_target: "play", action: "submit->show-button#change"}) do |f| %>
                <%= f.input :category, input_html:{value:"now playing"}, as: :hidden %>
                <%= f.button :submit, "Now playing", class: "btn #{(@shelf_game.category == 'now playing') ? 'btn-outline-primary' : 'btn-primary'}" %>
              <% end %>
              <%= simple_form_for([@game, @shelf_game], remote: true, data: {show_button_target: "complete", action: "submit->show-button#change"} ) do |f| %>
                <%= f.input :category, input_html:{value:"completed"}, as: :hidden %>
                <%= f.button :submit, "Completed", class: "btn #{(@shelf_game.category == 'completed') ? 'btn-outline-primary' : 'btn-primary'}"%>
              <% end %>
            </div>
            <!--Checking status of game (make into a partial) -->
            <!--persisted checks if it is saved -->
            <% if @shelf_game.persisted? %>
              <div data-show-button-target="content" class="show-shelf-content">
                This game is on your shelf under <%= @shelf_game.category %>
              </div>
            <% end %>
          </div>
        <% end %>

        <div class="twitch-preview-container">
          <% if @streams.empty? %>
            <div class="twitch-no-preview">
              No one is streaming <%= @game.title %> right now...
              <br>
              Come back later! <%= image_tag('icons/twitch.svg', class: 'twitch-icon') %>
            </div>
          <% else %>
              <a href="https://www.twitch.tv/<%= @preview_stream['user_login'] %>" class="twitch-preview" target="_blank">
                Watch <%= @preview_stream['user_name'] %> play <%= @game.title %> <%= image_tag('icons/twitch.svg', class: 'twitch-icon') %>
              <%= image_tag(@thumbnail_url, class: 'preview-thumbnail') %>
              </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="game-row-second-left">
        <p><em><%= @game.genre.split(",").join(", ")%></em></p>
        <p><b><%= @game.developer.split(",").join(", ")%></b></p>
        <p><%= @game.console.split(",").join(", ")%></p>
        <p><%= truncate(@game.description, length: 1070) %></p>
      </div>
    </div>
    <!-- youtube trailer -->
    <div class="col-6">
      <div class="game-row-second-right">
        <iframe width="100%" height="397"
      src="https://www.youtube.com/embed/<%= @one_game_id %>?controls=1&mute=1", class="trailer-image">
        </iframe>
      </div>
    </div>
  </div>

  <div class="game-row-reviews">
    <% if user_signed_in? %>
      <h3>Leave a review for <%= @game.title %></h3>
      <!--partial for the review form -->
      <%= render 'reviews/form', game: @game, review: @review %>
    <% end %>
    <!--partial for the shelf of reviews -->
    <br>
    <h4>Reviews from other users</h4>
    <%= render 'reviews/review' %>
  </div>

  <h3>You may also like</h3>
  <div class="recommended-game-cards">
    <!-- Recommends (max) 3 games by genre not including current game -->
    <% @three_games.each do |game| %>
      <%= link_to game_path(game) do %>
        <div class="game-card">
          <img src="<%= game.image_url %>" alt="Boxart for <%= game.title %>">
          <h3>
            <%= game.title %>
          </h3>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
